@import url('https://fonts.googleapis.com/css?family=Montserrat%7CRoboto&display=swap');
* {
    box-sizing: border-box; margin: 0; padding: 0;
}
body {
    font-family: RooneySans, Avenir-Book, Calibri, sans-serif;
    color: #424242;
    line-height: 1.4;
}
a {
    color: #20A1D4;
    text-decoration: none;
}

section {
  width: 100%;
  padding: 2em 0;
}
.container {
  display: block;
  margin: 0 auto;
  max-width: 700px;
}

.outline ul 
{
    list-style: none;
}
.outline li
{
    margin-bottom: .5em;
}

.blue {
    background: #179287;
    width: 150px;
    height: 80px;
    display: inline-block;
    border-radius: 3px;        
    margin: 0 1em 1em 0;
    text-align: center;
    line-height: 80px;
    font-size: 14px;    
}

.black {
    background: #424242;
    width: 150px;
    height: 80px;
    display: inline-block;
    border-radius: 3px;        
    margin: 0 1em 1em 0;
    text-align: center;
    line-height: 80px;
    font-size: 14px;
    color : white;    
}

.grey {
    background: #777777;
    width: 150px;
    height: 80px;
    display: inline-block;
    border-radius: 3px;        
    margin: 0 1em 1em 0;
    text-align: center;
    line-height: 80px;
    font-size: 14px;    
}

.lgrey {
    background: #EAEAEA;
    width: 150px;
    height: 80px;
    display: inline-block;
    border-radius: 3px;        
    margin: 0 1em 1em 0;
    text-align: center;
    line-height: 80px;
    font-size: 14px;    
}

.lblue {
    background: #F4FAFD;
    width: 150px;
    height: 80px;
    display: inline-block;
    border-radius: 3px;        
    margin: 0 1em 1em 0;
    text-align: center;
    line-height: 80px;
    font-size: 14px;    
}

.vlgrey {
    background: #FAFAFA;
    width: 150px;
    height: 80px;
    display: inline-block;
    border-radius: 3px;        
    margin: 0 1em 1em 0;
    text-align: center;
    line-height: 80px;
    font-size: 14px;    
}

h4 
{
     font-family: RooneySans, Avenir-Book, Calibri, sans-serif;
      font-weight: bold;
      font-size: 2em;
    color: #000;
    margin: 0 0 1em 0;
    padding: .5em 0;
    line-height: 1.2em;
    border-top: 1px dotted #777777;
    border-bottom: 1px dotted #777777;
    position: relative;
  } 

  h5 {
    margin: -1em 0 2em;
    color: #777;
    max-width: 500px;
    font-weight: normal;
    font-size: 18px;
    font-style: italic;
    }
  
  
  h3 {
    font-size: 1.5em;
    font-weight: normal;
    font-style: italic;
    font-family: RooneySans, Avenir-Book, Calibri, sans-serif;
    line-height: 1.35em;    
    color: #777777;
    margin-bottom: 1.5rem;
  }


  .typography-section h1 
  {
    font-size: 2.5em;
    font-weight: bold;
    font-family: Roboto, sans-serif;
    line-height: 1.2em;
    margin-bottom: .25em;
    }
  
.typography-section h2 {
    font-size: 1.5em;
    font-weight: normal;
    font-family: Montserrat, sans-serif;
    line-height: 1.35em;    
    margin-bottom: 1.5rem;
    }
  
.typography-section h3 {
    font-size: 1.5em;
    font-weight: bold;
    font-family: RooneySans, Avenir-Book, Calibri, sans-serif;
    line-height: 1.35em;
    border-top: 1px dotted #EAEAEA;
    padding-top: 1.5rem;
    margin: 0 100px .25rem 0;
}
  
.typography-section p {
      font-size: 16px;
      margin-bottom: 1.5rem;
      line-height: 1.5;
      max-width: 30em;
}

.btn{
  background-color : #179287;
}

.btn:hover {
  background-color: white;
  color:black;
}






















      
